@page "/"

<PageTitle>Index</PageTitle>

<h1>Test ISBELASOFT</h1>

El sistema esta construido sobre una base de datos de SQL SERVER 2019. 

Consta de un proyecto de Visual Studio 2022 que expone un servicio API Rest, el cual consta de varios "endpoints", los cuales tienen las 4 operaciones solicitadas.
<br />

<ul>
    <li>1. Insertar</li>
    <li>2. Actualizar</li>
    <li>3. Eliminar (soft delete)</li>
    <li>4. Recuparar todos los registros (activos)</li>
</ul>

