<h3>Menu</h3>

<RadzenMenu Click="OnParentClicked">
    <RadzenMenuItem Text="Opciones" Icon="home">
        <RadzenMenuItem Text="Conductores" Path="buttons" Icon="account_circle"></RadzenMenuItem>

    </RadzenMenuItem>
</RadzenMenu>

@code {
    void OnParentClicked(MenuItemEventArgs args)
    {
    }
}
